@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-textPrimary;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0B0F1A; 
}

::-webkit-scrollbar-thumb {
  background: #1F2937; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151; 
}
